.upload-section {

  margin: 10px 0;
  padding: 30px 0 0 0;
}

.upload-label {
  /* width: 400px; */
}

.selectFile-sytle {
  margin: 10px 0;
}

.button-style {
  margin: 0 10px 0 0;
}

.main-section {
  background-color: rgb(238, 225, 209);
  height: 100vh;
}

.image-section {

  background-color: rgb(125, 167, 204);
  min-height: 430px;
  height: auto;

}

.image-displayed-section {

  width: 350px;
  height: auto;
  margin: 10px auto 30px auto;
  display: block;
}

.result-section {

  background-color: rgb(254, 198, 176);
  min-height: 430px;
}

.place-center {
  margin: auto;
  display: block;
  text-align: center;
}
